.book-list {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__title {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}